[Desktop Entry]
Type=Application
Name=Compiz XFCE GTK
Comment=start or restart Compiz Fusion with GTK windows-decoator
TryExec=compiz-xfce-gtk
Exec=compiz-xfce-gtk
Icon=fusion-icon
NoDisplay=false
StartupNotify=true
Categories=Utility;
OnlyShowIn=XFCE;
Name[de_DE]=Compiz XFCE GTK
